   body {
      background-color: #ffffff;
      background-image: url('../arquivos/telaDeFundo.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      text-align: center;
      background-color: #96ad6e98;
      height: 85px;
      padding: 20px;

    }

    header img.RokuzenLogo {
      height: 70px;
      width: 180px;
      display: block;
        margin: 0 auto;
        padding-top: 0px;
    }
    nav a img {
      width: 50px;
      height: 50px;
      position: absolute; 
      top: 30px;
      right: 20px;
    
    }
    h1 {
      text-align: center;
      color: #000;
      font-weight: bold;
      margin-left: 20px;
    }

    section {
      text-align: center;
      color: #000;
      font-weight: normal;
      margin: 0 20px;
    }
    section img {
      width: 200px;
    }
      h2 {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        padding-top: 30px;
    }
    
    .login {
        width: 250px;
        margin: 00px auto;         
        display: flex;
        flex-direction: column;     
        gap: 10px;
        padding: 20px 60px;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
      
                          
    }

    p img{
      height: 80px;
      width: 190px;
      display: block;
        margin: auto;
        padding-top: 10px;
    }
    
    footer {
      text-align: center;
      height: 50px;
    }

    .botaoPrin {
      background-color: #9acd32;
      color: white;
      font-size: 24px;
      font-family: Arial, sans-serif;
      padding: 20px 60px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 40px;
      height: 70px;
      width: 40%;
      margin-top: 40px;
      align-self: center;
      
  
    }
    .botaoPrin:hover {
      background-color: #7bb32e;
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
      transform: translateY(-5px);
      justify-content: center;
      align-items: center
    }

    .botaoNav i{
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 24px;
      color: #797070b9;
      transition: color 0.3s ease;
      display: block;
      margin: right;
      width: 50px;
      height: 50px;
      position: absolute; 
      top: 45px;
      right: 10px;
    }
    
    .fa-user{
    color:#7bb32e;
    font-size: 100px;
    }

    .labelTxtLogin{
      font-size: 20px;
      font-weight: normal;
      color: #00000093;
      margin-bottom: 5px;
      text-align: center;
      
    }
    input[type="text"], input[type="password"] {
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 35px;
      text-align: center;
    }

.unidades-container {
  display: flex;          
  gap: 20px;               
  flex-wrap: wrap;         
  justify-content: center; 
  align-items: flex-start; 
}

.unidade-item {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  text-align: left;
  width: 200px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.container-botao {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  
}
